<a href="https://colab.research.google.com/github/italosilva02/Estudos_Python/blob/main/Exercicios_Map_Filter.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**10 questões - Map e Filter**

###1 - Questão: Dada uma lista de números, como utilizar map para gerar uma nova lista com cada número elevado ao quadrado?

In [3]:
lista = []

for i in range(1,21):
  lista.append(i)

In [4]:
print(lista)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [5]:
nova_lista = list(map(lambda x: x**2, lista))
print(nova_lista)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

###2 - Questão: Dada uma lista de strings, como usar map para transformar todas as letras em maiúsculas?

In [10]:
lista_str = ['paulo', 'maria', 'carla', 'andré', 'barbara', 'bianca', 'jessica', 'kaio']
nova_lista_str = list(map(lambda x: x.lower(), lista_str))
print(nova_lista_str)

['paulo', 'maria', 'carla', 'andré', 'barbara', 'bianca', 'jessica', 'kaio']

###3 - Questão: Como utilizar filter para obter todos os números pares de uma lista de números inteiros?

In [15]:
nova_lista_int = list(filter(lambda x: x if x % 2 == 0 else 0, lista))

In [16]:
print(nova_lista_int)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

###4 - Questão: Dada uma lista de palavras, como usar filter para selecionar apenas as palavras com mais de 5 letras??

In [19]:
lista_nome_mais5 = list(filter(lambda x: x if len(x) > 5 else 0, lista_str))

In [20]:
print(lista_nome_mais5)

['barbara', 'bianca', 'jessica']

###5 - Questão: Dada uma lista de dicionários, onde cada dicionário representa um produto com chaves "nome" e "preço", como usar map para criar uma nova lista apenas com os preços dos produtos?

In [22]:
produtos = {'televisão': 600,
            'videogame': 1500,
            'mesa': 150,
            'cadeira': 50,
            'ventilador': 130,
            'torradeira': 35,
            'chaleira': 60}

In [25]:
print(produtos.values())

dict_values([600, 1500, 150, 50, 130, 35, 60])

In [29]:
lista_de_preco = (list(map(lambda item: item, produtos.values())))

In [30]:
print(lista_de_preco)

[600, 1500, 150, 50, 130, 35, 60]

###6 - Questão: Utilizando filter, como encontrar todos os elementos únicos em uma lista?

In [36]:
numero = [5,6,3,7,8,9,8,4,7,1,5,9,6]

In [37]:
valores_unicos = [list(filter(lambda x: numero.count(x) == 1, numero))]

In [38]:
print(valores_unicos)

[[3, 4, 1]]

###7 - Questão: Dada uma lista de valores mistos (números e strings), como usar map para converter apenas os números em inteiros?

In [39]:
lista_mista = ['televisão',5.2, 'maria', 'carla', 'andré', 5.6, 8.6, 8, 9.6]

In [41]:
print(type(5.6))

<class 'float'>

In [47]:
nova_lista_inteiro = list(map(lambda x: int(x) if type(x) == float else x, lista_mista))

In [48]:
print(nova_lista_inteiro)

['televisão', 5, 'maria', 'carla', 'andré', 5, 8, 8, 9]