<a href="https://colab.research.google.com/github/italosilva02/exercicioPy/blob/main/Comprehesions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Comprehesions**

Compreensões em Python (comprehensions) são uma forma concisa e expressiva de criar sequências, como listas, dicionários e conjuntos, usando uma sintaxe compacta. Elas permitem que você crie essas estruturas de dados de forma mais rápida e legível do que escrevendo laços tradicionais e condicionais.

Existem três tipos de compreensões em Python: lista, dicionário e conjunto.

Compreensões de lista são usadas para criar novas listas com base em uma expressão ou uma sequência. A sintaxe básica é a seguinte:

In [ ]:
# [expressão for item in sequência if condição]

Aqui está um exemplo de como usar uma compreensão de lista para criar uma lista de números pares:

In [2]:
pares = [x for x in range(10) if x % 2 == 0]

Compreensões de dicionário são usadas para criar novos dicionários a partir de um iterável, como uma lista ou um conjunto. A sintaxe básica é a seguinte:

In [ ]:
{chave: valor for item in iterável}

Aqui está um exemplo de como usar uma compreensão de dicionário para criar um dicionário de quadrados:

In [3]:
quadrados = {x: x**2 for x in range(5)}

Compreensões de conjunto são usadas para criar novos conjuntos com base em uma expressão ou uma sequência. A sintaxe básica é a seguinte:

In [ ]:
{expressão for item in sequência if condição}

Aqui está um exemplo de como usar uma compreensão de conjunto para criar um conjunto de números ímpares:

In [ ]:
impares = {x for x in range(10) if x % 2 != 0}

As compreensões em Python são uma maneira poderosa e elegante de criar sequências e estruturas de dados de forma rápida e eficiente. Elas também são muito úteis para tornar seu código mais legível e expressivo.

# **List Comprehensions**

Não existe uma trudução exatada. 
- Utilizando List Comprehensions nos podemos gerar novas lista com dados processados a partir de outro iterável.

In [5]:
pares = [x for x in range(10) if x % 2 == 0]

In [6]:
print(pares)

[0, 2, 4, 6, 8]

In [7]:
lista = [1,3,4,5,6,7,8]

In [12]:
vezes10 = [numero * 10 for numero in lista]

In [13]:
print(vezes10)

[10, 30, 40, 50, 60, 70, 80]

Para entender melhor o que está acontecendo devemos dividir a expressão em duas partes:
- A primeira parte: for numero in numeros
- A segunda parte: numero * 10

In [14]:
res = [numero / 2 for numero in lista]

In [15]:
print(res)

[0.5, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0]

In [16]:
def multi(valor):
  return valor * valor

In [17]:
res = [multi(numero) for numero in lista]

In [18]:
print(res)

[1, 9, 16, 25, 36, 49, 64]

List Comprehesions vs Loop

In [19]:
numero = [1,2,3,4,5,6,7]

In [20]:
dobro = []

In [21]:
for x in numero:
  dobro.append(x*2)

In [22]:
print(dobro)

[2, 4, 6, 8, 10, 12, 14]

Com list Comprehesions

In [25]:
res = [numeros * 2 for numeros in numero]

In [26]:
print(res)

[2, 4, 6, 8, 10, 12, 14]

Outros exemplos

In [27]:
nome = 'italo silva de santana'

In [28]:
print([letra.upper() for letra in nome])

['I', 'T', 'A', 'L', 'O', ' ', 'S', 'I', 'L', 'V', 'A', ' ', 'D', 'E', ' ', 'S', 'A', 'N', 'T', 'A', 'N', 'A']

Exemplo 2:

In [30]:
amigos = ['maria', 'julia', 'pedro', 'guilherme', 'carlos', 'joão']

In [33]:
print([amigo.title() for amigo in amigos])

['Maria', 'Julia', 'Pedro', 'Guilherme', 'Carlos', 'João']

Exemplo 3

In [34]:
print([numero * 2 for numero in range(1,20)])

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38]

In [35]:
print([bool(valor) for valor in [1,[], 'Italo', 3.14, True, False]])

[True, False, True, True, True, False]

(0, string vazia, lista vazia) em Python são considerados como falso
O restante é considerado True

In [36]:
print([str(numero) for numero in range(1,20)])

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19']

# **Parte 2**

Nós podemos adicionar estruturas condicionais lógicas às nossas List Comprehensions

In [41]:
numeros = [1,2,3,4,5,6,7,8]

In [42]:
pares = [x for x in numeros if x%2==0]

In [40]:
impares = [x for x in numeros if x%2!=0]

In [43]:
print(pares)

[2, 4, 6, 8]

In [44]:
print(impares)

[1, 3, 5, 7]

Refatorando

Qualquer número par módulo de 2 é 0 e 0 em Python é False. not False = True

In [45]:
pares = [numero for numero in numeros if not numero % 2]

Qualquer número ímpar módulo de 2 é 1, e 1 em Python é True

In [46]:
impares = [numero for numero in numeros if numero % 2]

In [47]:
print(pares)

[2, 4, 6, 8]

In [48]:
print(impares)

[1, 3, 5, 7]

In [51]:
res = [numero * 2 if numero % 2 == 0 else numero / 2 for numero in numeros]

In [52]:
print(res)

[0.5, 4, 1.5, 8, 2.5, 12, 3.5, 16]

# **Listas aninhadas**

Algumas linguagens de programação possuem uma estrutura de dados chamadas de arrays:
- unidimensionais (Arrays/Vetores)
- multidimensionais (Matrizes)

Em python existem somente às listas

numero = [1,2,3,4,5,6]

Em C e Java o tamanho de vetor é limitado e homogenio, portanto, o tamanho não pode ser alterado e o vetor deve ter somente um tipo de dado

Exemplos

In [63]:
listas = [[1,2,3], [4,5,6], [7,8,9]] #Matriz 3 x 3

In [54]:
print(listas)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [55]:
print(type(listas))

<class 'list'>

Como fazemos para acessar os dados

In [56]:
print(listas[0])

[1, 2, 3]

In [57]:
print(listas[0][1]) #Acessando o segundo valor da primeira lista = 2

2

In [58]:
print(listas[2][1]) #Acessando o segundo valor da ultima lista = 8

8

In [59]:
print(listas[2][-2]) #Fazendo acesso ao penultimo elemento

8

Iterando com loops em uma lista aninhada

In [61]:
for x in listas:
  for numero in x:
    print(numero)

1
2
3
4
5
6
7
8
9

List Comprehension

In [66]:
print([numero for x in listas  for numero in x])

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [69]:
[[print(valor) for valor in lista] for lista in listas]

1
2
3
4
5
6
7
8
9

[[None, None, None], [None, None, None], [None, None, None]]

In [76]:
print([valor for lista in listas for valor in lista])

[[1, 1, 1], [3, 3, 3], [4, 4, 4], [5, 5, 5], [6, 6, 6], [7, 7, 7], [8, 8, 8]]

Gerando um tabuleiro/Matriz 3x3

In [74]:
tabuleiro = [[numero for numero in range(1,4)] for valor in range(1,4)]

In [75]:
print(tabuleiro)

[[1, 2, 3], [1, 2, 3], [1, 2, 3]]

Gerando jogadas para o jogo da velha

In [83]:
velha = [['X' if numero % 2 == 0 else 'O' for numero in range(1,4)] for valor in range (1,4)]

In [84]:
print(velha)

[['O', 'X', 'O'], ['O', 'X', 'O'], ['O', 'X', 'O']]

In [85]:
print([['*' for i in range(1,4)] for j in range(1,4)])

[['*', '*', '*'], ['*', '*', '*'], ['*', '*', '*']]

## **Dictionary Comprehensions**

Pense o seguinte:

Se quisermos criar uma lista fazemos:

lista = [1,2,3,4]

Se quisermos criar uma tupla fazemos:

tupla = (1,2,3,4)

Se quisermos um set/conjunto fazemos:

conjunto = {1,2,3,4}

Se quisermos criar um dicionário fazemos:

dicionario = {'a': 1, 'b': 2, 'c': 3, 'd': 4}

### Sintaxy

{chave: valor for valor in iterável}

In [86]:
dicionario = {'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [92]:
print({chave:valor ** 2 for chave, valor in dicionario.items()})

{'a': 1, 'b': 4, 'c': 9, 'd': 16}

In [93]:
numero = [1,2,3,4,5]

In [94]:
quadrado = {valor: valor ** 2 for valor in numero}

In [95]:
print(quadrado)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

Lembrando que em dicionário não existe repetição de chave

In [96]:
numero = [1,2,3,4,5,1,2,3,4,5]

In [97]:
quadrado = {valor: valor ** 2 for valor in numero}

In [98]:
print(quadrado)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [101]:
chave = 'abcdefghi'

In [100]:
valores = [1,2,3,4,5,6,7,8]

In [102]:
mistura = {chave[i]:valores[i] for i in range(0, len(valores))}

In [103]:
print(mistura)

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6, 'g': 7, 'h': 8}

In [113]:
nome = 'italo silva de santana'

In [114]:
chave = [1,2,3,4,5,6,7,8,9,10,11,12,13,14]

In [120]:
nomeDic = {chave[i]:nome[i] for i in range(0, len(chave))}

In [121]:
print(nomeDic)

{1: 'i', 2: 't', 3: 'a', 4: 'l', 5: 'o', 6: ' ', 7: 's', 8: 'i', 9: 'l', 10: 'v', 11: 'a', 12: ' ', 13: 'd', 14: 'e'}

In [137]:
numeros = [1,2,3,4,5,6,7,8,9,12,13,14,15,16,17]

In [123]:
res = {num:('par' if num % 2 == 0 else 'Impar') for num in numeros}

In [124]:
print(res)

{1: 'Impar', 2: 'par', 3: 'Impar', 4: 'par', 5: 'Impar', 6: 'par', 7: 'Impar', 8: 'par', 9: 'Impar', 12: 'par', 13: 'Impar', 14: 'par', 15: 'Impar', 16: 'par', 17: 'Impar'}

In [126]:
lista = []

In [128]:
for x in numeros:
  if x % 2 == 0:
      lista.append(x)

In [129]:
print(lista)

[2, 4, 6, 8, 12, 14, 16]

In [139]:
print([x for x in numeros if x % 2 == 0])

[2, 4, 6, 8, 12, 14, 16]

# **Set Comprehesion**

- lista = [1,2,3,4,5]
- set = {1,2,3,4,5}

In [140]:
numero = {num for num in range(0,7)}

In [141]:
print(numero)

{0, 1, 2, 3, 4, 5, 6}

In [148]:
numeros = {x * 2  for x in range(0,11)}

In [149]:
print(numeros)

{0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20}

Faça uma alteração na estrutura acima para gerar um dicionário ao invés de um set

In [153]:
numero = {valor:valor ** 2 for valor in numeros}

In [154]:
print(numero)

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64, 10: 100, 12: 144, 14: 196, 16: 256, 18: 324, 20: 400}

In [155]:
letra = {letra for letra in 'Geek University'}

In [156]:
print(letra)

{'e', ' ', 'U', 'v', 's', 'y', 'G', 'i', 'n', 'r', 'k', 't'}