<a href="https://colab.research.google.com/github/italosilva02/exercicioPy/blob/main/Express%C3%B5es_Lambdasm_e_fun%C3%A7%C3%B5es_integradas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Lambdas**

Lambdas em Python são funções anônimas (sem nome) que permitem definir uma expressão em linha para criar funções simples sem a necessidade de criar uma definição formal de função usando a palavra-chave def.

Essas funções são geralmente criadas para serem usadas em um contexto onde você precisa passar uma função como argumento para outra função, como em um filtro, mapeamento ou ordenação de uma lista.

A sintaxe básica para criar uma lambda é usar a palavra-chave lambda, seguida pelos argumentos separados por vírgula, seguidos por dois pontos e a expressão que será executada quando a função for chamada. Por exemplo, uma lambda que recebe dois argumentos e retorna a soma deles seria definida assim:

In [ ]:
lambda x, y: x + y

Isso é equivalente a definir uma função nomeada como:

In [ ]:
def soma(x,y):
  return x + y

Uma vantagem das lambdas é que elas são mais concisas e podem ser usadas em contextos onde uma função nomeada seria desnecessariamente longa e complexa.

Além disso, lambdas são geralmente usadas em conjunto com funções como **filter()**, **map()** e **reduce()** para processar listas e outras coleções de dados.

Por exemplo, podemos usar uma lambda para filtrar apenas os números pares em uma lista:

In [ ]:
numeros = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
pares = list(filter(lambda x: x % 2 == 0, numeros))

In [ ]:
print(pares)

[2, 4, 6, 8, 10]

Aqui, a lambda verifica se um número é par usando a expressão x % 2 == 0, e filter() usa essa lambda para filtrar apenas os números pares da lista numeros. O resultado é atribuído a pares, que é uma nova lista contendo apenas os números pares.

**Expressão normal**

In [ ]:
def funcao(x):
  return x * 3 + 1

In [ ]:
print(funcao(5))

16

**Expressão Lambda**

In [ ]:
lambda x: 3 * 3 + 1

Como utilizar a exparessão lambda

In [ ]:
calc = lambda x: x * 3 + 1

In [ ]:
print(calc(6))

19

In [ ]:
print(calc(9))

28

Podemos ter expressões lambdas com multiplas entradas

In [ ]:
nome = lambda nome, sobrenome: nome.strip().title() + ' ' + sobrenome.strip().title()

In [ ]:
print(nome('italo', 'silva'))

Italo Silva

- **strip()** - utilizada para retirar os espaços em brancos tanto do ínicio quanto do fim da variável

- **title()** - Coloca a primeira letra da variável em Maiucula.

In [ ]:
print(nome('ANGELINA  ', '  jOLIE  '))

Angelina Jolie

Em funções podemos ter nenhuma, uma ou várias entradas. Em Lambdas também

In [ ]:
amar = lambda: 'Como não amar Python'

In [ ]:
print(amar())

Como não amar Python

In [ ]:
uma = lambda x: x * 2

In [ ]:
print(uma(2))

4

In [ ]:
varias = lambda n1,n2,n3,n4: ((n1 + n2) * (n3 + n4) ** ((n3**2)+(n1**2)))/n1+n2

In [ ]:
print(varias(4,3,2,5))

1.3963646602082101e+17

In [ ]:
autores = ['Isaac Asimov', 'Ray Bradbury', 'Robert Heinlein', 'Arthur C. Clarke', 'Frank Hebert', 'Orson Scott Card', 'Douglas Adams', 'H.G Wells', 'Leigh Brackett']

In [ ]:
print(autores)

['Isaac Asimov', 'Ray Bradbury', 'Robert Heinlein', 'Arthur C. Clarke', 'Frank Hebert', 'Orson Scott Card', 'Douglas Adams', 'H.G Wells', 'Leigh Brackett']

Lambda para extrair os sobrenome de uma lista

In [ ]:
print(sorted(autores))

['Arthur C. Clarke', 'Douglas Adams', 'Frank Hebert', 'H.G Wells', 'Isaac Asimov', 'Leigh Brackett', 'Orson Scott Card', 'Ray Bradbury', 'Robert Heinlein']

In [ ]:
autores.sort(key=lambda sobrenome: sobrenome.split(' ')[-1].lower())

In [ ]:
print(autores)

['Douglas Adams', 'Isaac Asimov', 'Leigh Brackett', 'Ray Bradbury', 'Orson Scott Card', 'Arthur C. Clarke', 'Frank Hebert', 'Robert Heinlein', 'H.G Wells']

Função quadrádica

f(x) = a * x ** 2 + b * x + C

In [ ]:
def gerador_quadratica(a,b,c):
  #Retorna a função f(x) = a * x ** 2 + b * x + c
  return lambda x: a * x ** 2 + b * x + c

In [ ]:
teste = (gerador_quadratica(2,3,-5))

In [ ]:
print(teste(0))

-5

In [ ]:
print(teste(1))

0

In [ ]:
print(teste(2))

9

In [ ]:
print(gerador_quadratica(2,3,-5)(2))

NameError: ignored

# **Maps**

Em Python, a função map é usada para aplicar uma função a cada elemento de uma sequência (como uma lista ou tupla) e retornar um novo objeto que contém os resultados.

A sintaxe básica da função map é a seguinte:

In [ ]:
import math

In [ ]:
def area(r):
  return math.pi * (r**2)

In [ ]:
print(area(2))

12.566370614359172

In [ ]:
print(area(5.3))

88.24733763933729

In [ ]:
raios = [2,4,5,6,0.4,55,3]

In [ ]:
areas = []

In [ ]:
for r in raios:
  areas.append(math.pi * (r ** 2))

In [ ]:
print(areas)

[12.566370614359172, 50.26548245743669, 78.53981633974483, 113.09733552923255, 0.5026548245743669, 9503.317777109125, 28.274333882308138]

In [ ]:
a = map(area, raios)

map é uma função que recebe dois parametros

- Uma função
- Um interável

In [ ]:
print((a))

<map object at 0x7f1bba1177f0>

In [ ]:
print(type(a))

<class 'map'>

In [ ]:
print(list(map(area, raios)))

TypeError: ignored

In [ ]:
import math

def area(r):
    return math.pi * (r**2)

raios = [1,2,3,4,5,6,7,8,9,10]

a = map(area, raios)

print(a)
print(type(a))
print(list(a))

<map object at 0x7f1bba0afe20>
<class 'map'>
[3.141592653589793, 12.566370614359172, 28.274333882308138, 50.26548245743669, 78.53981633974483, 113.09733552923255, 153.93804002589985, 201.06192982974676, 254.46900494077323, 314.1592653589793]

Transformando em forma lambda

In [ ]:
print(list(map(lambda r: math.pi * (r**2), raios)))

[3.141592653589793, 12.566370614359172, 28.274333882308138, 50.26548245743669, 78.53981633974483, 113.09733552923255, 153.93804002589985, 201.06192982974676, 254.46900494077323, 314.1592653589793]

**OBS:** Após utilizar a função map() depois da primeira utilização do resultado, ele zera

Para fixar map()

- Temos dados interáveis
- dados: a1, a2, a3.... an
- Temos uma função:
- função: f(x)
- Utilizamos a função map(f, dados) onde map irá 'mapear' cada elemento dos dados e aplicar a função

In [ ]:
cidade = [('Berlin', 29), ('Paris', 32), ('Canada', -3), ('Suiça', 7), ('Jamaica', 30), ('Tokio', 27), ('Nova York', 22)]

In [ ]:
print(cidade)

[('Berlin', 29), ('Paris', 32), ('Canada', -3), ('Suiça', 7), ('Jamaica', 30), ('Tokio', 27), ('Nova York', 22)]

Transformar em fahrenheit

f = 9/5 * c + 32

Lambda

In [ ]:
c_para_f = lambda dado: (dado[0], (9/5) * dado[1] + 32)

In [ ]:
print(list(map(c_para_f, cidade)))

[('Berlin', 84.2), ('Paris', 89.6), ('Canada', 26.6), ('Suiça', 44.6), ('Jamaica', 86.0), ('Tokio', 80.6), ('Nova York', 71.6)]

Por exemplo, o código a seguir usa a função map para converter uma lista de strings em uma lista de inteiros:

In [ ]:
lista_strings = ["1", "2", "3", "4"]
lista_inteiros = list(map(int, lista_strings))
print(lista_inteiros) # Output: [1, 2, 3, 4]

[1, 2, 3, 4]

Neste exemplo, a função int é aplicada a cada elemento da lista de strings, convertendo-os em inteiros. A função map retorna um objeto map, que é convertido em uma lista usando a função list(). O resultado final é uma lista de inteiros.

Em resumo, a função map é útil quando queremos aplicar uma função a todos os elementos de uma sequência e obter uma nova sequência com os resultados.

# **Filter**

Filter é uma função integrada do Python que **permite filtrar elementos de uma sequência, com base em uma determinada condição ou função**. O objetivo é criar uma nova sequência contendo apenas os elementos que satisfazem a condição especificada.

A sintaxe da função filter() é a seguinte:

**filter(funcao, sequencia)**

Onde funcao é a função usada para testar cada elemento da sequencia. A função funcao deve retornar um valor booleano (True ou False) que determina se o elemento atual deve ou não ser incluído na sequência resultante.

A sequencia é a sequência que será filtrada.

O resultado da função filter() é um objeto iterável que pode ser convertido em uma lista, tupla ou conjunto, dependendo das necessidades do programador.

A função filter() é útil para trabalhar com grandes conjuntos de dados, em que é necessário filtrar os elementos com base em uma determinada condição. Além disso, ela pode ser usada em conjunto com funções lambda para filtrar os elementos de uma sequência de forma rápida e eficiente.

Exemplo:

In [ ]:
# Filtrando números pares de uma lista
numeros = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
pares = list(filter(lambda x: x % 2 == 0, numeros))
print(pares) # Output: [2, 4, 6, 8, 10]

[2, 4, 6, 8, 10]

Neste exemplo, usamos a função **filter()** com uma função lambda para filtrar os números pares da lista numeros e armazená-los na lista pares.

In [ ]:
valores = 1,2,3,4,5,6

In [ ]:
media = sum(valores) / len(valores)

In [ ]:
print(media)

3.5

In [ ]:
print(list(filter(lambda x: x > media, valores)))

[4, 5, 6]

Biblioteca para trabalhar com dados estatísticos

In [ ]:
import statistics

In [ ]:
dados = [1.3, 2.7, 0.8, 4.1, 4.3, -0.1]

Calculando a média dos dados utilizando a função mean()

In [ ]:
media = statistics.mean(dados)
media1 = sum(dados) / len(dados)

In [ ]:
print(media)

2.183333333333333

In [ ]:
print(media1)

2.183333333333333

In [ ]:
res = (list(filter(lambda x: x > media, dados)))

In [ ]:
print(res)

[2.7, 4.1, 4.3]

Ao utilizar o valor uma vez, o mesmo irá sair da memória

In [ ]:
print(f'Novamente {res}')

Novamente [2.7, 4.1, 4.3]

In [ ]:
print(type(filter(lambda x: x > media, dados)))

<class 'filter'>

In [ ]:
pases = ['', 'Argentina', '', 'Brasil', 'Chile', '', '', 'Colombia', '', 'Equador', '', '', 'Venezuela']

In [ ]:
paises = list(filter(lambda x: x != '', pases))

In [ ]:
paises1 = list(filter(None, pases))

In [ ]:
print(paises)

['Argentina', 'Brasil', 'Chile', 'Colombia', 'Equador', 'Venezuela']

In [ ]:
print(paises1)

['Argentina', 'Brasil', 'Chile', 'Colombia', 'Equador', 'Venezuela']

A diferença entre map() e filter() é:

- map() -> Recebe dois parâmetros, uma função e um interável e retorna um objeto mapeando a função para cada elemento do interável

- filter() -> Recebe dois parâmetros, uma função e uma interável e retorna um objeto filtrando apenas os elementos de acordo com a interação (filter retorna somente valores booleanos para decidir se quem entre e quem sai do filtro)

Exemplo mais completo

In [ ]:
usuarios = [
    {'username': 'Samuuel', 'twitter': ['Eu adoro bolos', 'Eu adoro pizza', 'Amanhã tem aula cedo denovo', 'Comendo pizza hoje a noite com os amigos']},
    {'username': 'Anna', 'twitter': ['SENAC hoje foi um caos', 'Indo assistir o jogo com as amigas', 'Finalmente consegui meu estágio', 'PQ OS ONIBUS DESSA CIDADE NÃO FUNCIONA']},
    {'username': 'bob123', 'twitter': []},
    {'username': 'Beatriz', 'twitter': ['Quero jogar Harry Potter', 'Sdds comer um BK', 'Indo para casa finalmente', 'oooodiiiioooooo', 'Finalmente tá acabando', 'Meu bb me ligou', 'Que semana longa']},
    {'username': 'Carla', 'twitter': ['VAMOS FLAMENGO', 'O Pedro tava tão lindo', 'Que preguiça desse povo', 'nunca mais bebo vinho']},
    {'username': 'Brenda', 'twitter': []}
]

In [ ]:
print([x['username'] for x in usuarios])

['Samuuel', 'Anna', 'bob123', 'Beatriz', 'Carla', 'Brenda']

Filtrar os usuários que estão inativos no Twitter

In [ ]:
inativos = list(filter(lambda usuario: len(usuario['twitter']) == 0, usuarios))

In [ ]:
inativos

[{'username': 'bob123', 'twitter': []}, {'username': 'Brenda', 'twitter': []}]

**Forma 2**

In [ ]:
invativos1 = list(filter(lambda usuario: not usuario['twitter'], usuarios ))

In [ ]:
print(invativos1)

[{'username': 'bob123', 'twitter': []}, {'username': 'Brenda', 'twitter': []}]

Devemos criar uma lista contendo 'Sua instrutora é' + nome, desde que cada nome tenha menos de 5 caracteres

In [ ]:
nomes = ['Vanessa', 'Ana', 'Maria']

In [ ]:
instrutora = 'Sua instrutora é ' + str(filter(lambda x: len(x) > 5, nomes))

In [ ]:
ista = list(map(lambda nome: f'Sua instrutora é {nome}', filter(lambda nome: len(nome) < 5, nomes)))

In [ ]:
ista

['Sua instrutora é Ana']

# **Reduce**

Já foi uma função integrada, a partir do python3+ a função reduce() não é mais uma função integrada (built-in). Agora temos que importar e utilizar esta função a partir do módulo **'functools'**

Guido Van Rossum: Utilize a função reduce() se você realmente precisa dela. Em todo caso, 99% das vezes um loop for é mais legível.

Para entender o reduce()

Imagine que vocÊ tem uma coleção de dados:

dados = [a1, a2, a3, a4 ..... an]

e você tem uma função que recebe dois parâmetros

def funcao(x,y):
    return x * y

A função reduce(), funciona da seguinte forma:
Assim como map() e filter(), a função reduce() recebe dois parâmetros: a função e o interável.

reduce (funcao, dados)

A funcao () reduce funciona da seguinte forma:

  - Passo 1: res1 = f(a1, a2) - Aplica a função nos dois primeiros elementos da coleção e guarda o resultado
  - Passo 2: res2 = f(res1, a3) - Aplica a função passando o resultado do passo1 mais o terceiro elemento e guarda o resultado

  - Isso é repetido até o final.
  - Passo 3: res3 = f(res2, a4)

  .

  .

  .

  .
  
  .

  - Passo n: resn = f(resm, an)

Ou seja, em cada passo ela aplica a função passando como primeiro argumento o resultado da aplicação anterior. No final, reduce() irá retornar o resultado final. 
Alternativamente, poderiamos ver a função reduce() como:

funcao(funcao(funcao(a1, a2), a3), a4), ....), an)

Como funciona na prática?

Vamos utililizar a função reduce() para multiplicar todos os números de uma lista

In [ ]:
from functools import reduce

In [ ]:
dados = [2,3,4,5,6,7,8,9,14,15,16,17,17]

Para utilizar o reduce() precisamos de uma função da qual recebe dois elementos

In [ ]:
multi = lambda x,y: x * y

In [ ]:
res = reduce(multi, dados)

In [ ]:
print(res)

352370995200

Utizando um loop normal

In [ ]:
res = 1
for x in dados:
  res = res * x

print(res)

352370995200

# **All**

São funções integradas ao proprio Python. Não é necessário importar

- all() - Retorna True se todos os elementos do interável são verdadeiros ou ainda se o interável está vazio

exemplo all()

In [ ]:
print(all([0,2,3,4,5,6,4,3])) #Retorna False pelo fato de 0 ser False

False

In [ ]:
print(all([])) #Retorna True porque a lista está vazia

True

In [ ]:
print(all([2,3,4,5,6,4,3])) #Retorna True porque tiramos o 0

True

In [ ]:
print(all((2,3,4,5,6,4,3))) #Pode ser uma tupla

True

In [ ]:
print(all({2,3,4,5,6,4,3})) #Pode ser um set

True

In [ ]:
print(all('ITALO SILVA DE SANTANA')) #Pode ser uma  string

True

In [ ]:
nomes = ['Carlos', 'Camila', 'Cassiano', 'Cristina']

In [ ]:
print(all([nome[0] == 'C' for nome in nomes]))

True

In [ ]:
nomes = ['Carlos', 'Camila', 'Cassiano', 'Cristina', 'Daniel']

In [ ]:
print(all([nome[0] == 'C' for nome in nomes]))

False

In [ ]:
print(all([letra for letra in 'iou' if letra in 'aeiou']))

True

In [ ]:
print([letra for letra in 'f' if letra in 'aeiou'])

[]

**OBS:**  Um interável vazio convertido em boolean é False, mas o all() entende como True

In [ ]:
print(all([num for num in [4,2,10,6,8] if num % 2 == 1]))

True

In [ ]:
print([num for num in [4,2,10,6,8] if num % 2 == 1])

[]

# **Any**

Retorna True se qualquer elemento do interável for verdadeiro. Se o iterável estiver vazio, retorna False

In [ ]:
print(any([0,1,2,3,4,5,6,7]))

True

In [ ]:
[num for num in [2,4,6,8,10,12,14] if num % 2 == 0]

[2, 4, 6, 8, 10, 12, 14]

In [ ]:
print(any([num for num in [2,4,6,8,10,12,14] if num % 2 == 0]))

True

In [ ]:
[num for num in [2,4,6,8,10,12,14] if num % 2 == 1]

[]

In [ ]:
print(any([num for num in [2,4,6,8,10,12,14] if num % 2 == 1])) # False porque isso gera uma lista vazia e lista vazia em Any é False

False

In [ ]:
nomes = ['Carlos', 'Camila', 'Carla', 'Cassiano', 'Cristina', 'Vanessa']

In [ ]:
print(any([nome[0] == 'C' for nome in nomes])) #Any retorna True porque existe um elemento True no interável
print([nome[0] == 'C' for nome in nomes])

True
[True, True, True, True, True, False]

In [ ]:
print(all([nome[0] == 'C' for nome in nomes])) #All retorna False porque existe um elemento Falso no interável
print([nome[0] == 'C' for nome in nomes])

False
[True, True, True, True, True, False]

# **Generators**

Em aulas anteriores nós estudamos:

- List Comprehensions;
- Dictionary Comprehension;
- Set Comprehensions;

Não vimos: 

- Tuple Comprehensions... porque elas se chamam Generators

nomes = ['Carlos', 'Camila', 'Carla', 'Cassiano', 'Cristina', 'Vanessa']

print(any([nome[0] == 'C' for nome in nomes])

In [ ]:
nomes = ['Carlos', 'Camila', 'Carla', 'Cassiano', 'Cristina', 'Vanessa']

In [ ]:
print(any(nome[0] == 'C' for nome in nomes)) #Não é uma list Comprensions

True

In [ ]:
(nome[0] == 'C' for nome in nomes)

In [ ]:
tuple((nome[0] == 'C' for nome in nomes))

(True, True, True, True, True, False)

List Comprehesion

In [ ]:
res = [nome[0] == 'C' for nome in nomes]
print(res)
print(type(res))

[True, True, True, True, True, False]
<class 'list'>

Generator

In [ ]:
res = (nome[0] == 'C' for nome in nomes)
print(res)
print(type(res))

<generator object <genexpr> at 0x7feadb977f90>
<class 'generator'>

Em questão de perfomace, o **generator ocupa menos recurso em memória** porque list gera uma lista em memória, porém, o generator não gera espaço em memória.

Generator

In [ ]:
print('any - ', any(nome[0]== 'C' for nome in nomes))
print('all - ', all(nome[0] == 'C' for nome in nomes))
print((nome[0]== 'C' for nome in nomes))

any -  True
all -  False
<generator object <genexpr> at 0x7feadb977270>

List Comprehensions

In [ ]:
print('any - ', any([nome[0]== 'C' for nome in nomes]))
print('all - ', all([nome[0] == 'C' for nome in nomes]))
print([nome[0]== 'C' for nome in nomes])

any -  True
all -  False
[True, True, True, True, True, False]

In [ ]:
from sys import getsizeof

Qual é a utilizade de getsizeof()? -> Retorna a quantidade de bytes em memória do elemento passado como parâmetro

Mostra quantos bytes a string 'Italo' está ocupando na memória. Quanto maior a string, mais espaço ocupa

In [ ]:
print(getsizeof('Italo'))

54

In [ ]:
print(getsizeof('a'))

50

In [ ]:
print(getsizeof('ITALO SILVA DE SANTANA MORA NA RUA PEDRO BRANT'))

95

In [ ]:
print(getsizeof(9234532345))

32

In [ ]:
print(getsizeof(1))

28

In [ ]:
print(getsizeof(True))

28

Gerando uma lista de números com List Comprehension

---

In [ ]:
list_comp = getsizeof([x * 10 for x in range(1000)])

Gerando uma lista de números com Set Comprehension

In [ ]:
set_comp = getsizeof({x * 10 for x in range(1000)})

Gerando uma lista de números com Dictonary Comprehension

In [ ]:
dict_comp = getsizeof({x: x * 10 for x in range(1000)})

Gerando uma lista de números com Generator

In [ ]:
generator_comp = getsizeof((x * 10 for x in range(1000)))

**Comparando a quantidade de memória que cada um dos Comprehension ocupa**

In [ ]:
print('Lista Comprenhension', list_comp, ' Bytes')

Lista Comprenhension 8856  Bytes

In [ ]:
print('Set Comprenhension', set_comp, ' Bytes')

Set Comprenhension 32984  Bytes

In [ ]:
print('Dictonary Comprenhension', dict_comp, ' Bytes')

Dictonary Comprenhension 36960  Bytes

In [ ]:
print('Generatos', generator_comp, ' Bytes')

Generatos 112  Bytes

**Eu posso iterar no Generator Expression? Sim**

In [ ]:
gen = (num * 2 for num in range(100))

In [ ]:
print(gen)
print(type(gen))

<generator object <genexpr> at 0x7feadb90c7b0>
<class 'generator'>

In [ ]:
for num in gen:
  print(num)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100
102
104
106
108
110
112
114
116
118
120
122
124
126
128
130
132
134
136
138
140
142
144
146
148
150
152
154
156
158
160
162
164
166
168
170
172
174
176
178
180
182
184
186
188
190
192
194
196
198

# **Sorted**

Não confunda, apesar do nome, com a função sort() que já estuamos em Listas. O sort() só funciona em listas

Podemos utilizar o sorted() com qualquer interável

Como o próprio nome diz, sorted() serve para ordenar

Em Python, sorted() é uma função que pode ser usada para ordenar iteráveis (objetos que podem ser percorridos, como listas, tuplas, conjuntos e dicionários) em ordem crescente ou decrescente.

A sintaxe básica da função sorted() é a seguinte:

In [ ]:
sorted(iterable, key=None, reverse=False)

- iterable: o objeto iterável que será ordenado.

- key (opcional): uma função que será usada como critério de ordenação dos elementos. **Se não for especificado, os elementos serão ordenados em ordem natural (ordem numérica ou alfabética**, dependendo do tipo de dado).

- reverse (opcional): um valor booleano que indica se a ordem de classificação deve ser reversa (True) ou não (False).
Por exemplo, se quisermos ordenar uma lista de números em ordem crescente, podemos usar o seguinte código:

In [ ]:
numeros = [4, 2, 7, 1, 3]
sorted_numeros = sorted(numeros)
print(sorted_numeros)

[1, 2, 3, 4, 7]

Se quisermos ordenar a mesma lista em ordem decrescente, podemos passar o argumento **reverse=True** para a função sorted():

In [ ]:
numeros = [4, 2, 7, 1, 3]
sorted_numeros = sorted(numeros, reverse=True)
print(sorted_numeros)

[7, 4, 3, 2, 1]

Também podemos usar a função sorted() para ordenar uma lista de palavras em ordem alfabética:

In [ ]:
palavras = ['banana', 'abacaxi', 'laranja', 'maçã']
sorted_palavras = sorted(palavras)
print(sorted_palavras)

['abacaxi', 'banana', 'laranja', 'maçã']

E se quisermos ordenar a mesma lista em ordem reversa, **podemos passar uma função lambda** como argumento **key**:

In [ ]:
palavras = ['banana', 'abacaxi', 'laranja', 'maçã']
sorted_palavras = sorted(palavras, key=lambda x: x[::-1])
print(sorted_palavras)

['laranja', 'banana', 'abacaxi', 'maçã']

O sorted() sempre retorna uma lista com os elementos do interável ordenados, mesmo que seja passado uma tupla, set ou dict

In [ ]:
n = (7,4,6,2,1,9,7,5,9,3,2,6,8,9)

In [ ]:
print(f'Lista normal = {n}')

Lista normal = (7, 4, 6, 2, 1, 9, 7, 5, 9, 3, 2, 6, 8, 9)

In [ ]:
print(f'Lista ordenada = {sorted(n)}')

Lista ordenada = [1, 2, 2, 3, 4, 5, 6, 6, 7, 7, 8, 9, 9, 9]

In [ ]:
print(f'Lista ordenada ao inverso = {sorted(n, reverse=True)}')

Lista ordenada ao inverso = [9, 9, 9, 8, 7, 7, 6, 6, 5, 4, 3, 2, 2, 1]

In [ ]:
usuarios = [
    {'username': 'Samuuel', 'twitter': ['Eu adoro bolos', 'Eu adoro pizza', 'Amanhã tem aula cedo denovo', 'Comendo pizza hoje a noite com os amigos']},
    {'username': 'Anna', 'twitter': ['SENAC hoje foi um caos', 'Indo assistir o jogo com as amigas', 'Finalmente consegui meu estágio', 'PQ OS ONIBUS DESSA CIDADE NÃO FUNCIONA']},
    {'username': 'bob123', 'twitter': []},
    {'username': 'Beatriz', 'twitter': ['Quero jogar Harry Potter', 'Sdds comer um BK', 'Indo para casa finalmente', 'oooodiiiioooooo', 'Finalmente tá acabando', 'Meu bb me ligou', 'Que semana longa']},
    {'username': 'Carla', 'twitter': ['VAMOS FLAMENGO', 'O Pedro tava tão lindo', 'Que preguiça desse povo', 'nunca mais bebo vinho']},
    {'username': 'Brenda', 'twitter': []}
]

In [ ]:
print(usuarios)

[{'username': 'Samuuel', 'twitter': ['Eu adoro bolos', 'Eu adoro pizza', 'Amanhã tem aula cedo denovo', 'Comendo pizza hoje a noite com os amigos']}, {'username': 'Anna', 'twitter': ['SENAC hoje foi um caos', 'Indo assistir o jogo com as amigas', 'Finalmente consegui meu estágio', 'PQ OS ONIBUS DESSA CIDADE NÃO FUNCIONA']}, {'username': 'bob123', 'twitter': []}, {'username': 'Beatriz', 'twitter': ['Quero jogar Harry Potter', 'Sdds comer um BK', 'Indo para casa finalmente', 'oooodiiiioooooo', 'Finalmente tá acabando', 'Meu bb me ligou', 'Que semana longa']}, {'username': 'Carla', 'twitter': ['VAMOS FLAMENGO', 'O Pedro tava tão lindo', 'Que preguiça desse povo', 'nunca mais bebo vinho']}, {'username': 'Brenda', 'twitter': []}]

In [ ]:
print(sorted(usuarios, key=len))

[{'username': 'Samuuel', 'twitter': ['Eu adoro bolos', 'Eu adoro pizza', 'Amanhã tem aula cedo denovo', 'Comendo pizza hoje a noite com os amigos']}, {'username': 'Anna', 'twitter': ['SENAC hoje foi um caos', 'Indo assistir o jogo com as amigas', 'Finalmente consegui meu estágio', 'PQ OS ONIBUS DESSA CIDADE NÃO FUNCIONA']}, {'username': 'bob123', 'twitter': []}, {'username': 'Beatriz', 'twitter': ['Quero jogar Harry Potter', 'Sdds comer um BK', 'Indo para casa finalmente', 'oooodiiiioooooo', 'Finalmente tá acabando', 'Meu bb me ligou', 'Que semana longa']}, {'username': 'Carla', 'twitter': ['VAMOS FLAMENGO', 'O Pedro tava tão lindo', 'Que preguiça desse povo', 'nunca mais bebo vinho']}, {'username': 'Brenda', 'twitter': []}]

In [ ]:
print(sorted(usuarios, key= lambda usuario: usuario['username']))

[{'username': 'Anna', 'twitter': ['SENAC hoje foi um caos', 'Indo assistir o jogo com as amigas', 'Finalmente consegui meu estágio', 'PQ OS ONIBUS DESSA CIDADE NÃO FUNCIONA']}, {'username': 'Beatriz', 'twitter': ['Quero jogar Harry Potter', 'Sdds comer um BK', 'Indo para casa finalmente', 'oooodiiiioooooo', 'Finalmente tá acabando', 'Meu bb me ligou', 'Que semana longa']}, {'username': 'Brenda', 'twitter': []}, {'username': 'Carla', 'twitter': ['VAMOS FLAMENGO', 'O Pedro tava tão lindo', 'Que preguiça desse povo', 'nunca mais bebo vinho']}, {'username': 'Samuuel', 'twitter': ['Eu adoro bolos', 'Eu adoro pizza', 'Amanhã tem aula cedo denovo', 'Comendo pizza hoje a noite com os amigos']}, {'username': 'bob123', 'twitter': []}]

In [ ]:
print(sorted(usuarios, key= lambda usuario : len(usuario['twitter'])))

[{'username': 'bob123', 'twitter': []}, {'username': 'Brenda', 'twitter': []}, {'username': 'Samuuel', 'twitter': ['Eu adoro bolos', 'Eu adoro pizza', 'Amanhã tem aula cedo denovo', 'Comendo pizza hoje a noite com os amigos']}, {'username': 'Anna', 'twitter': ['SENAC hoje foi um caos', 'Indo assistir o jogo com as amigas', 'Finalmente consegui meu estágio', 'PQ OS ONIBUS DESSA CIDADE NÃO FUNCIONA']}, {'username': 'Carla', 'twitter': ['VAMOS FLAMENGO', 'O Pedro tava tão lindo', 'Que preguiça desse povo', 'nunca mais bebo vinho']}, {'username': 'Beatriz', 'twitter': ['Quero jogar Harry Potter', 'Sdds comer um BK', 'Indo para casa finalmente', 'oooodiiiioooooo', 'Finalmente tá acabando', 'Meu bb me ligou', 'Que semana longa']}]

In [ ]:
print(sorted(usuarios, reverse=True, key= lambda usuario : len(usuario['twitter'])))

[{'username': 'Beatriz', 'twitter': ['Quero jogar Harry Potter', 'Sdds comer um BK', 'Indo para casa finalmente', 'oooodiiiioooooo', 'Finalmente tá acabando', 'Meu bb me ligou', 'Que semana longa']}, {'username': 'Samuuel', 'twitter': ['Eu adoro bolos', 'Eu adoro pizza', 'Amanhã tem aula cedo denovo', 'Comendo pizza hoje a noite com os amigos']}, {'username': 'Anna', 'twitter': ['SENAC hoje foi um caos', 'Indo assistir o jogo com as amigas', 'Finalmente consegui meu estágio', 'PQ OS ONIBUS DESSA CIDADE NÃO FUNCIONA']}, {'username': 'Carla', 'twitter': ['VAMOS FLAMENGO', 'O Pedro tava tão lindo', 'Que preguiça desse povo', 'nunca mais bebo vinho']}, {'username': 'bob123', 'twitter': []}, {'username': 'Brenda', 'twitter': []}]

**Último exemplo**

In [ ]:
musicas = [
    {'titulo': 'Made You Look. Meghan Trainor', 'tocou': 453},
    {'titulo': 'Lift Me Up. Rihanna.', 'tocou': 645},
    {'titulo': 'Eu Te Amo Tanto (Escrito Nas Estrelas) Iguinho e Lulinha', 'tocou': 426},
    {'titulo': 'Unholy (feat. Kim Petras) Sam Smith.', 'tocou': 654},
    {'titulo': 'As It Was. Harry Styles', 'tocou': 456},
    {'titulo': 'Deserto. Maria Marçal.', 'tocou': 234},
    {'titulo': 'Haja Colírio (part. Hugo e Guilherme) Guilherme e Benuto.', 'tocou': 543},
    {'titulo': 'Snap. Rosa Linn.', 'tocou': 561},
    {'titulo': 'Sambinha. O Grilo', 'tocou': 737}
]

In [ ]:
print(musicas)

[{'titulo': 'Made You Look. Meghan Trainor', 'tocou': 453}, {'titulo': 'Lift Me Up. Rihanna.', 'tocou': 645}, {'titulo': 'Eu Te Amo Tanto (Escrito Nas Estrelas) Iguinho e Lulinha', 'tocou': 426}, {'titulo': 'Unholy (feat. Kim Petras) Sam Smith.', 'tocou': 654}, {'titulo': 'As It Was. Harry Styles', 'tocou': 456}, {'titulo': 'Deserto. Maria Marçal.', 'tocou': 234}, {'titulo': 'Haja Colírio (part. Hugo e Guilherme) Guilherme e Benuto.', 'tocou': 543}, {'titulo': 'Snap. Rosa Linn.', 'tocou': 561}, {'titulo': 'Sambinha. O Grilo', 'tocou': 737}]

In [ ]:
print(sorted(musicas, key= lambda musica: musica['tocou']))

[{'titulo': 'Deserto. Maria Marçal.', 'tocou': 234}, {'titulo': 'Eu Te Amo Tanto (Escrito Nas Estrelas) Iguinho e Lulinha', 'tocou': 426}, {'titulo': 'Made You Look. Meghan Trainor', 'tocou': 453}, {'titulo': 'As It Was. Harry Styles', 'tocou': 456}, {'titulo': 'Haja Colírio (part. Hugo e Guilherme) Guilherme e Benuto.', 'tocou': 543}, {'titulo': 'Snap. Rosa Linn.', 'tocou': 561}, {'titulo': 'Lift Me Up. Rihanna.', 'tocou': 645}, {'titulo': 'Unholy (feat. Kim Petras) Sam Smith.', 'tocou': 654}, {'titulo': 'Sambinha. O Grilo', 'tocou': 737}]

In [ ]:
print(sorted(musicas, reverse = True, key= lambda musica: musica['tocou']))

[{'titulo': 'Sambinha. O Grilo', 'tocou': 737}, {'titulo': 'Unholy (feat. Kim Petras) Sam Smith.', 'tocou': 654}, {'titulo': 'Lift Me Up. Rihanna.', 'tocou': 645}, {'titulo': 'Snap. Rosa Linn.', 'tocou': 561}, {'titulo': 'Haja Colírio (part. Hugo e Guilherme) Guilherme e Benuto.', 'tocou': 543}, {'titulo': 'As It Was. Harry Styles', 'tocou': 456}, {'titulo': 'Made You Look. Meghan Trainor', 'tocou': 453}, {'titulo': 'Eu Te Amo Tanto (Escrito Nas Estrelas) Iguinho e Lulinha', 'tocou': 426}, {'titulo': 'Deserto. Maria Marçal.', 'tocou': 234}]

# **Min e Max**

Em Python, as funções **min()** e **max()** são usadas para retornar o menor e o maior valor, respectivamente, em um conjunto de valores. Elas podem ser usadas com diferentes tipos de dados, como números, strings e objetos personalizados, desde que esses objetos possuam uma ordem definida.

A sintaxe básica da função min() é a seguinte:

In [ ]:
numeros = [2, 6, 3, 8, 1, 7, 4]
menor = min(numeros)
maior = max(numeros)
print(menor, maior)

1 8

Também podemos usar as funções **min()** e **max()** com strings:

In [ ]:
palavras = ['banana', 'abacaxi', 'laranja', 'maçã']
menor = min(palavras)
maior = max(palavras)
print(menor, maior)

abacaxi maçã

No exemplo acima, as strings são comparadas em ordem alfabética.

Se quisermos encontrar o menor ou o maior valor em uma série de valores, podemos passá-los como argumentos separados para as funções **min()** e **max()**. Por exemplo:

In [ ]:
menor = min(4, 7, 2, 9, 1)
maior = max(4, 7, 2, 9, 1)
print(menor, maior)

1 9

Por fim, se quisermos usar as funções min() e max() com objetos personalizados, podemos definir uma função de comparação personalizada e passá-la como argumento key. Por exemplo, suponha que temos uma lista de dicionários que representam pessoas e queremos encontrar a pessoa mais velha e a mais nova:

In [ ]:
pessoas = [{'nome': 'Ana', 'idade': 20}, {'nome': 'Bob', 'idade': 25}, {'nome': 'Carla', 'idade': 18}]
mais_nova = min(pessoas, key=lambda x: x['idade'])
mais_velha = max(pessoas, key=lambda x: x['idade'])
print(mais_nova['nome'], mais_nova['idade'])
print(mais_velha['nome'], mais_velha['idade'])

Carla 18
Bob 25

Lista

In [1]:
lista = [1,2,3,4,56,7,5,3,2]

In [2]:
print(max(lista))
print(min(lista))

56
1

tupla

In [7]:
tupla = (2,4,4,7,3,4,65,98,56,34,23)

In [8]:
print(max(tupla))
print(min(tupla))

98
2

Conjunto

In [9]:
conjunto = {3,4,5,7,5,3,5,4,6,8,0,8,6}

In [10]:
print(max(conjunto))
print(min(conjunto))

8
0

Dicionário

In [11]:
dicionario = {'a':3, 'b':5, 'c':9, 'd':9, 'e': 11, 'f': 14}

Se não especificar nada no dicionário, ele volta qual é a maior chave

In [12]:
print(max(dicionario))
print(min(dicionario))

f
a

In [13]:
print(max(dicionario.values()))
print(min(dicionario.values()))

14
3

In [15]:
nomes = ['Alice', 'Bruna', 'Zack','Carla', 'Brenda', 'Yago', 'Simone', 'Julio', 'Kaio', 'Maycon']

Pega o nome atráves da ordem alfabetifca

In [16]:
print(min(nomes))

Alice

In [18]:
print(min(nomes, key= lambda nome: len(nome))) #Menor  nome é Zack que tem quatro letras

Zack

In [20]:
print([min(nome, key= lambda nome: len(nome)) for nome in nomes])

['A', 'B', 'Z', 'C', 'B', 'Y', 'S', 'J', 'K', 'M']

In [23]:
print([len(nome) for nome in nomes])

[5, 5, 4, 5, 6, 4, 6, 5, 4, 6]

In [24]:
musicas = [
    {'titulo': 'Made You Look. Meghan Trainor', 'tocou': 453},
    {'titulo': 'Lift Me Up. Rihanna.', 'tocou': 645},
    {'titulo': 'Eu Te Amo Tanto (Escrito Nas Estrelas) Iguinho e Lulinha', 'tocou': 426},
    {'titulo': 'Unholy (feat. Kim Petras) Sam Smith.', 'tocou': 654},
    {'titulo': 'As It Was. Harry Styles', 'tocou': 456},
    {'titulo': 'Deserto. Maria Marçal.', 'tocou': 234},
    {'titulo': 'Haja Colírio (part. Hugo e Guilherme) Guilherme e Benuto.', 'tocou': 543},
    {'titulo': 'Snap. Rosa Linn.', 'tocou': 561},
    {'titulo': 'Sambinha. O Grilo', 'tocou': 737}
]

In [28]:
print(max(musicas, key = lambda musica: musica['tocou']))
print(min(musicas, key = lambda musica: musica['tocou']))

{'titulo': 'Sambinha. O Grilo', 'tocou': 737}
{'titulo': 'Deserto. Maria Marçal.', 'tocou': 234}

# **DESAFIO**


Imprimir somente o titulo da música

In [37]:
print(max(musicas, key= lambda musica : musica['tocou'])['titulo'])

Sambinha. O Grilo

In [38]:
print(min(musicas, key= lambda musica : musica['tocou'])['titulo'])

Deserto. Maria Marçal.

# **DESAFIO**

Imprimir novamente o objeto sem utilizar max ou min

**Max**

In [44]:
tanto = 0
musica = ''
for musica in musicas:
  if musica['tocou'] > tanto:
    tanto = musica['tocou']
    musica = musica['titulo']

print(tanto)
print(musica)

737
Sambinha. O Grilo

In [63]:
tanto = sum(x['tocou'] for x in musicas)
mus = ''
for musica in musicas:
  if musica['tocou'] < tanto:
    tanto = musica['tocou']
    mus = musica['titulo']

print(tanto)

234

# **Reversed**

Não confuda com a função reserve() que estudamos nas listas

In [64]:
lista = [1,4,5,7,8,9]

In [65]:
lista.reverse()

In [66]:
print(lista)

[9, 8, 7, 5, 4, 1]

A função **reverse()** só funciona em lista, já a função **reversed()** função com qualquer interável. Sua função é inverter o interável

Em Python, o método reverse() é usado para inverter a ordem dos elementos de uma lista. Ele é aplicado diretamente em uma lista e modifica a ordem dos elementos na própria lista, sem criar uma nova.

Aqui está um exemplo simples:

A função reversed() retorna um iterável chamado List Reverse Iterator

In [67]:
lista = [1,2,4,5,6,7,9]

In [68]:
res = reversed(lista)
print(res)
print(type(res))

<list_reverseiterator object at 0x7f59c41dae20>
<class 'list_reverseiterator'>

Podemos converter o elemento retornado para uma Lista, Tupla ou conjunto

In [69]:
print(list(reversed(lista)))

[9, 7, 6, 5, 4, 2, 1]

In [70]:
print(tuple(reversed(lista)))

(9, 7, 6, 5, 4, 2, 1)

In [71]:
print(set(reversed(lista))) # Em conjunto não funciona porque ele não guarda as ordens dos elementos

{1, 2, 4, 5, 6, 7, 9}

Podemos iterar sobre o reversed

In [73]:
for letra in reversed('ITALO SILVA DE SANTANA'):
  print(letra, end='')

ANATNAS ED AVLIS OLATI

In [74]:
print(''.join(list(reversed('ITALO SILVA DE SANTANA'))))

ANATNAS ED AVLIS OLATI

Já vimos como fazer isso mais fácil com o slice de string

In [75]:
print('ITALO SILVA DE SANTANA'[::-1])

ANATNAS ED AVLIS OLATI

Podemos também utilizar o reversed() para fazer loop reverso

In [76]:
for n in reversed(range(0,10)):
  print(n)

9
8
7
6
5
4
3
2
1
0

Apesar também de já termos visto como fazer isso utilizando o próprio range()

In [78]:
for n in range(9, -1, -1):
  print(n, end=' ')

9 8 7 6 5 4 3 2 1 0

# **Len, Abs, Sum e Round**

### **Len()**

Em Python, len() é uma função embutida que retorna o comprimento de um objeto. O comprimento geralmente se refere ao número de itens ou elementos em um objeto.

A função len() pode ser usada com muitos tipos de objetos, incluindo strings, listas, tuplas, dicionários, conjuntos e outros objetos iteráveis.

Por exemplo, se você quiser saber o comprimento de uma string, você pode usar len() da seguinte forma:

In [79]:
texto = "Olá, Mundo!"
comprimento = len(texto)
print(comprimento)

11

Neste caso, o valor de comprimento será 12, que é o número de caracteres na string.

Da mesma forma, se você quiser saber o número de elementos em uma lista, pode usar len() assim:

In [80]:
lista = [1, 2, 3, 4, 5]
comprimento = len(lista)
print(comprimento)

5

Neste caso, o valor de comprimento será 5, que é o número de elementos na lista.

Em resumo, len() é uma função útil que pode ser usada para determinar o tamanho de um objeto em Python.

In [82]:
print(len(range(0,10)))

10

In [83]:
print('ITALO SILVA DE SANTANA'.__len__)

<method-wrapper '__len__' of str object at 0x7f59c41f2f30>

Toda função que começa com 2 underlaine se chama Dunder

### **Abs()**

Retorna o valor absoluto de um número inteiro ou real. De forma básica, seria o seu valor real sem o sinal

In [84]:
print(abs(-6))
print(abs(6))
print(abs(54))
print(abs(-43))
print(abs(43))
print(abs(-0))

6
6
54
43
43
0

Não tem como retornar uma função abs() em uma string

In [85]:
print(abs('Ola mundo'))

TypeError: ignored

### **sum()**

Recebe como parâmetro um iterável, podendo receber um valor inicial, e retorna a soma total dos elementos, incluindo o valor

obs: O valor inicial default = 0

In [86]:
print(sum([1,2,3,4,5]))

15

In [87]:
print(sum([1,2,3,4,5], -5))

10

In [88]:
print(sum([1,2,3,4,5], 5))

20

In [89]:
print(sum([3.12, 4.32, 6.34, 7.45, 9.45, 4.12]))

34.8

In [91]:
print(sum({1,2,3,4,5,7,4,5,7})) #Como é um set, os valores repetidos são exluidos o que faz a soma voltar menor = 22
print(sum([1,2,3,4,5,7,4,5,7])) # Enquanto na lista os valores repetidos são mantidos e a soma volta = 38

22
38

In [94]:
print(sum({'a':3, 'b':5, 'c':9, 'd':9, 'e': 11, 'f': 14})) #Não pode somar uma string

TypeError: ignored

In [93]:
a = {'a':3, 'b':5, 'c':9, 'd':9, 'e': 11, 'f': 14} #Não pode somar uma string
print(sum(a.values()))

51

### **Round()**

Retorna um número arredondado para n digito de precisão após a casa decimal. Se a precisão não for informada, retorna o inteiro mais próximo da entrada

In [95]:
print(round(3.14))

3

In [96]:
print(round(54.34))

54

In [97]:
print(round(234.1))

234

In [99]:
print(round(43.6))

44

In [101]:
print(round(2600.646144534532, 2))

2600.65

In [102]:
print(round(1.21999999999999, 4))

1.22

### **Zip**

zip é uma função interna do Python que permite combinar elementos de duas ou mais sequências (por exemplo, listas, tuplas, dicionários) em uma única sequência de tuplas.

A sintaxe da função zip é a seguinte:

**zip(iterables)**

O argumento iterables é uma ou mais sequências que se deseja combinar. A função zip retorna um objeto de tuplas, onde cada tupla contém o elemento na mesma posição de cada uma das sequências passadas como argumento.

Por exemplo, suponha que temos duas listas:

In [103]:
lista1 = [1, 2, 3, 4]
lista2 = ['a', 'b', 'c', 'd']

Podemos combiná-las usando a função zip da seguinte maneira:

In [108]:
combinados = zip(lista1, lista2)

In [109]:
print(dict(combinados))
print(list(combinados))
print(tuple(combinados))
print(set(combinados))

{1: 'a', 2: 'b', 3: 'c', 4: 'd'}
[]
()
set()

Observe que a função zip retorna um objeto de tuplas, que pode ser convertido em outras sequências, como listas ou tuplas, usando a função list() ou tuple().

A função zip também pode ser usada com mais de duas sequências, desde que todas as sequências tenham o mesmo número de elementos. Se alguma sequência tiver menos elementos, o objeto resultante terá o mesmo número de tuplas que a sequência mais curta.

A função zip é frequentemente usada em conjunto com loops for para percorrer simultaneamente várias sequências, combinando seus elementos correspondentes em cada iteração do loop.

In [115]:
lista1 = [1,2,3,4]
lista2 = [11,12,13,14]

In [111]:
zip1 = zip(lista1, lista2)

In [113]:
print(zip1)
print(type(zip1))

<zip object at 0x7f59c418d500>
<class 'zip'>

In [116]:
print(dict(zip1))

{}

In [117]:
lista2 = [1,2,3,4]
lista2 = ['a', 'b', 'c', 'd']

In [118]:
zip2 = zip(lista1, lista2)

In [119]:
print(dict(zip2))

{1: 'a', 2: 'b', 3: 'c', 4: 'd'}

Se uma lista for mais que a outra, o dicionário volta vazio

In [122]:
lista2 = [1,2,3,4,5,6]
lista2 = ['a', 'b', 'c', 'd', 'e']
zip2 = zip(lista1, lista2)
print(dict(zip2))

{1: 'a', 2: 'b', 3: 'c', 4: 'd'}

In [123]:
lista2 = [1,2,3,4,5,6]
lista2 = ['a', 'b', 'c', 'd', 'e']
zip2 = zip(lista1, lista2)
print(list(zip2))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]

In [124]:
lista2 = [1,2,3,4,5,6]
lista2 = ['a', 'b', 'c', 'd', 'e']
zip2 = zip(lista1, lista2)
print(tuple(zip2))

((1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'))

In [125]:
lista3 = [7,8,9,10,11]

O zip utiliza como parâmetro o menor tamanho do interável. Isso significa que se estiver trabalhando com interáveis de tamanho diferentes, irá parar quando os elementos do menor elemento acabar

In [127]:
zip1 = zip(lista1, lista2, lista3) 
print(list(zip1))

[(1, 'a', 7), (2, 'b', 8), (3, 'c', 9), (4, 'd', 10)]

In [129]:
print(list(zip([1,3,4,5,3], [3,2,4,6,2,4], ['a', 'b', 'c', 'd', 'e', 'f'])))

[(1, 3, 'a'), (3, 2, 'b'), (4, 4, 'c'), (5, 6, 'd'), (3, 2, 'e')]

In [130]:
tupla = (1,2,3,4,5)
lista = [11,12,13,14,15]
dic = {'a': 21, 'b': 22, 'c': 23, 'd': 24, 'e':25}

In [132]:
print(list(zip(tupla, lista, dic.values())))
print(list(zip(tupla, lista, dic.keys())))

[(1, 11, 21), (2, 12, 22), (3, 13, 23), (4, 14, 24), (5, 15, 25)]
[(1, 11, 'a'), (2, 12, 'b'), (3, 13, 'c'), (4, 14, 'd'), (5, 15, 'e')]

In [135]:
dados = [(0,1), (2,3), (4,5), (6,7), (8,9), (10,11)]

In [136]:
print(list(zip(*dados)))

[(0, 2, 4, 6, 8, 10), (1, 3, 5, 7, 9, 11)]

Exemplo mais complexo

In [137]:
prova1 = [80,87,43]
prova2 = [87,98,91]
alunos = ['Maria', 'Pedro', 'Carla']

In [138]:
final = {dado[0]:max(dado[1], dado[2]) for dado in zip(alunos, prova1, prova2)}

In [140]:
print(dict(final))

{'Maria': 87, 'Pedro': 98, 'Carla': 91}

Podemos utilizar o map()

In [141]:
final = zip(alunos, map(lambda nota: max(nota), zip(prova1, prova2)))

In [142]:
print(dict(final))

{'Maria': 87, 'Pedro': 98, 'Carla': 91}

# **Acabou**